<ion-header>
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides autoplay="3000" loop=true pager=true class="ion-slides">
  <ion-slide *ngFor="let item of slidesItems">
    <img src="{{item.src}}" class="slide-image">
  </ion-slide>

  
  </ion-slides>

<div class="slides-header" pager="false" #sliderHeader>
  <ion-slides #ionSlides id="menu">
    <ion-slide *ngFor="let nav of navContent" (click)="ionSlideDidClick(nav.id)">
      <div class="nav-name">{{nav.name}}</div>
    </ion-slide>
  </ion-slides>
</div>

<div class="row">
  <ion-row type="card" class="ion-row" *ngFor="let nav of picitems">
  
    <img src="{{nav.src}}">
 
  </ion-row>
  
</div>

  
</ion-content>
